@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Inter:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-inter: "Inter", sans-serif;
  
  --color-brand-blue: #0622DF;
  --color-brand-indigo: #818CF8;
  --color-brand-purple: #1900FF;
  --color-brand-light-purple: #8E89FF;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: white;
  color: black;
}
